<script language="SpeedScript">
    {./variables/GeneralVariables.i}
    {./components/headComponent.i}
</script>
<div class="app-main__inner">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card my-3">
                <div class="card-body"><h5 class="card-title">Expedientes - Documentación Adicional</h5>
                    <form class="">
                        <div class="position-relative form-row">
                            <div class="col-md-12 text-right" id="btnNew">
                                <!-- boton nueva documentacion adicional desde js -->
							</div>
						</div>
                        <div class="position-relative form-row mt-2">
						    <div class="table-responsive">
							    <table class="table table-striped table-hover table-bordered col-md-12">
								    <thead>
									    <tr>
                                            <th class="text-center bg-secondary text-white">Id</th>
                                            <th class="text-center bg-secondary text-white">Expediente</th>
                                            <th class="text-center bg-secondary text-white">Ingreso</th>
											<th class="text-center bg-secondary text-white">Cant. Hojas</th>
											<th class="text-center bg-secondary text-white">Observaciones</th>
                                            <th class="text-center bg-secondary text-white">Editar</th>
                                            <th class="text-center bg-secondary text-white">Eliminar</th>
										</tr>
									</thead>
									<tbody id="table-result">
                                        <!-- datos tabla -->
									</tbody>
                                </table>
							</div>
						</div>
                        <div class="position-relative form-row">
                            <button 
                                class="my-4 ml-4 btn btn-primary" 
                                type="button" onclick="location.href='./expedientes'" 
                                target="_blank"
                            >
                            volver
                            </button>
                        </div>
                    </form>	
				</div>		
			</div>
		</div>	
	</div>
</div>
<script language="SpeedScript">                    
    {./components/obj-footer.i} 
</script>
<script src="/miciudad/constantes/urlBase.js"></script>
<script src="/miciudad/controller/MesaEntrada/ExpedientesAdicional.js"></script>
<script>
    window.addEventListener("load", function() { 
        getExpedientesAdicional();
    });
</script>
</body>
</html>