<script language="SpeedScript">
    {./variables/GeneralVariables.i}
    {./components/HeadComponent.i}
</script>
<div class="app-main__inner">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card my-3">
                <div class="card-body"><h5 class="card-title">País - Nuevo</h5>
                    <form class="">
                        <div id="informe">
                            
                        </div>
                        <div class="position-relative form-row">
                            <div class="col-md-4">
                                <label for="numeroLabel" class="">País</label>
                                <div>
                                    <input 
                                        name="codigoPais"  
                                        id="codigoPais" 
                                        placeholder="" 
                                        type="number" 
                                        class="form-control"
                                        autofocus
                                        required
                                    >
                                    <div id="requiredCodigoPais">
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-8">
                                <label for="anioLabel" class="">Nombre País</label>
                                <div>
                                    <input 
                                        name="nombrePais" 
                                        id="nombrePais" 
                                        placeholder="Nombre del país" 
                                        type="text" 
                                        class="form-control" 
                                        required
                                    >
                                    <div id="requiredNombrePais">
                                        
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                        <button class="mt-3 btn btn-primary" id="create">Grabar</button>
                        <button class="mt-3 btn btn-danger" type="button" onclick="location.href='./paises'" target="_blank">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 


<script language="SpeedScript">                    
{./components/obj-footer.i} 
</script>
<script src="/miciudad/constantes/urlBase.js"></script>
<script src="/miciudad/controller/MasterTable/Paises.js"></script>
 
</script>
</body>
</html>