<!doctype html>
<script language="SpeedScript">
	{./variables/GeneralVariables.i}
	{./components/HeadComponent.i}
</script>
<div class="app-main__inner">
<div class="container">
    <div class="container-fluid" id="tab-content-0" role="tabpanel">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card my-3">
                    <div class="card-body"><h5 class="card-title">Listado de Normativas</h5>
                        <form class="">
							<div class="position-relative form-row mt-4">
                                <div class="col-md-6">
									<label for="exampleSelect" class="">Búsqueda por palabra</label>
									<input type="text" id="palabra" class="form-control form-control-sm" autocomplete="off" placeholder="Ingrese palabra a buscar" autofocus>
								</div>
								
							</div> 
							<div class="position-relative form-row">
                                <div class="col-md-12  text-right">
									<a href="./NewDigesto.html">
										<button class="mt-1 btn btn-primary" type="button">Nueva Normativa</button>
									</a>
								</div>
							</div>

							<div class="position-relative form-row mt-4"></div>
								<div class="table-responsive">
									<table class="align-middle mb-0 table table-borderless table-striped table-hover">
										<thead>
											<tr>
												<th class="text-center bg-secondary text-white">Código</th>
												<th class="text-center bg-secondary text-white">Número</th>
												<th class="text-center bg-secondary text-white">Año</th>
												<th class="text-center bg-secondary text-white">Observaciones</th>
												<th class="text-center bg-secondary text-white">Editar</th>
												<th class="text-center bg-secondary text-white">Eliminar</th>
											</tr>
										</thead>
										<tbody id="table-result">
				
										</tbody>
		
									</table>
								</div>
							</div>
						</form>	
					</div>		
				</div>
			</div>	
		</div>
	</div>
</div>

<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>

<script src="/miciudad/controller/Digesto/disposicionesWordController.js"></script>
<script language="SpeedScript">                    
    {./components/obj-footer.i}               
</script>
</body>
</html>